@font-face
	font-family 'drukwidecyr-bold'
	src url('../../fonts/drukwidecyr-bold.woff2') format('woff2')

@font-face
	font-family 'PointRegular'
	src url('../../fonts/PointRegular.woff2') format('woff2')

@font-face
	font-family 'DrukWideMediumTrial'
	src url('../../fonts/DrukWideMediumTrial.woff2') format('woff2')