$ff-drukwidecyr-bold = 'drukwidecyr-bold', sans-serif
$ff-PointRegular = 'PointRegular', sans-serif
$ff-DrukWideMediumTrial = 'DrukWideMediumTrial', sans-serif

$c-black = #000
$c-white = #fff
$c-green = #184C29